#! /bin/bash

# example/template for 'credentials.private', used by setup.sh


NEO4J_PASSWORD=XXXXXXXXXXXXXXXX

MYSQL_BACKUP_PASSWORD=`setup_insecure_password`
MYSQL_POSTFIX_PASSWORD=`setup_insecure_password`

MYSQL_ROOT_PASSWORD=XXXXXXXXXXXXXXXXXXXX
MYSQL_INTERN_PASSWORD=XXXXXXXXXXXX
MYSQL_WP_WWW_PASSWORD=XXXXXXXXXXXXXXXX
MYSQL_WP_DEV_PASSWORD=XXXXXXXXXXXXXXXX
MYSQL_MANTIS_PASSWORD='XXXXXXXXXXXX'

SKGB_INWX_PASSWORD=XXXXXXXXXXXXXXXXXXXXXXXX


# setup user accounts

setup_super_user "aj" "Arne"
setup_user_forward "aj" "arne@example.com"
echo "ssh-rsa XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX Key Arne" >> /home/aj/.ssh/authorized_keys

setup_super_user "uk" "Ulf"
setup_user_forward "uk" "ulf@example.com"
echo "ssh-rsa XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX Key Ulf" >> /home/uk/.ssh/authorized_keys

cat /home/aj/.ssh/authorized_keys /home/uk/.ssh/authorized_keys >> /home/git/.ssh/authorized_keys
